.logger-container {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: left;
  font-size: 10px;
  margin: 5px;
  max-height: 200px;
  min-width: 200px;
  overflow: scroll;
  cursor: default;

  &.avg-logger {
    color: white;
    text-align: right;
  }

  .info {
    color: #fdff88;
  }

  .warning {
    color: #ffb877;
  }

  .error {
    color: #ff5b65;
  }

  .debug {
    color: #c0c0c0;
  }
}
